/***********************************************************
*** CUSTOMIZE THE LOADING SCREEN BACKGROUND + ICON COLORS
************************************************************/
/* loading screen background color */
#bonfire-pageloader {
	background-calor: #fff;
}
/***********************************************************
*** THE NITTY-GRITTY
************************************************************/
/* the pageloader */
#bonfire-pageloader {
	position:absolute;
	z-index:99999999999999;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
}

.bonfire-pageloader-hide {
	display:none;
}

/* the loading icon */
.bonfire-pageloader-icon {
	background-image: url("https://cdn.jsdelivr.net/gh/Nyaplus-Beta/cdn@2.5/images/loading.webp");
	background-repeat: no-repeat;
    background-position: center;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 1;


}
/****DEBUT PROGRESS****/
#progress {
    position: fixed;
    width: 100%;
    height: 37px;
    left: 0;
    right: 0;
    top: 0;
    bottom: -96.5vh;
    margin: auto;
	box-shadow : 0px 0px 10px #111111 inset;
}

#charge {
  height: 37px;
  width: 100%;
  position: absolute;
  background-color: #C9F76F;
  margin: 0 auto;
  animation: charge 15s ;
  -webkit-animation: charge 15s ;
  -moz-animation: charge 15s ;
  box-shadow: 0px 0px 5px #222 inset;
}
}
@-webkit-keyframes charge {
  0% {width : 0px;}
  100% {width : 100%;}
}

@keyframes charge {
  0% {width : 0px;}
  25% {width : 100%;}
}
/****FIN PROGRESS****/

